<meta charset="UTF-8">

<title>Dashboard - Distribuição | DataInsight</title>
	<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/bootstrap/js/script.js"></script>
	<script type="text/javascript" src="/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="/highcharts/exporting.js"></script>

	<script>
		function getCountryRedirect() {
			country = document.getElementById("country").value;
			window.location.href = this.origin + "?country=" + country.trim();
  		}		

	</script>

	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/fonts.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<title>Super Awesome</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	body 	{ padding-top:50px; }
</style>