<nav class="navbar navbar-default" role="navigation">
	
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<img " class="img-rounded" alt="Responsive image" src="/images/logo.png"  width="190"  >
		</div>
		<a class="navbar-brand" href="/">Data & Insights (D2C Market)</a>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">SVOD</a></li>
				<li><a href="/plataforms">PLATFORMS</a></li>
			</ul>
		</div>
		
	
	</div>
</nav>

