<div class="col-xs-10 col-md-4 espaco">
    <h4 class ="new2" >SUBS PER GENRE</h4>
    <div class="table-responsive tabela-resultado ">						
        <table  class="table table-striped" id="tbResultado3">
            <thead>
                <tr>
                    <th>YEAR QUARTER</th>
                        <% for(i = 1; i < Object.getOwnPropertyNames(Genre[0]).length; i ++) { %>	
                            <%if(Object.getOwnPropertyNames(Genre[0])[i] == 'MoviesFictions' ){ %>
                                <th> M&S </th>
                                                  
                            <%}else if (Object.getOwnPropertyNames(Genre[0])[i] == 'Generalist'){%>
                                <th> GE </th>

                                <%} else {%>                        				
                                <th> <%- Object.getOwnPropertyNames(Genre[0])[i] %> </th>
                                
                            <%}%>
                        <%}%>							
                </tr>
            </thead>		
            <tbody>
                <% for(i = 0; i < Genre.length; i ++) { %>
                    <tr>
                        <td><%- Genre[i].quarter_year %></td>
                        <% for(j = 1; j < Object.getOwnPropertyNames(Genre[i]).length; j ++) { %>
                            <td><%- Genre[i][Object.getOwnPropertyNames(Genre[i])[j]].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                        <%}%>
                    </tr>
                <%}%>
        </table>
    </div>																