<div class="col-xs-12 col-md-4 espaco">
    <h4>SUBS PER NETWORK <a onclick="exportTableToExcel('tbResultado2')">Export</a></h4>
        <table  class="table table-striped" id="tbResultado2">
            <thead>
                <tr>
                    <th>Network</th>
                    <% for(i = 1; i < Object.getOwnPropertyNames(listnetwork[0]).length; i ++) { %>
                        <th> <%- Object.getOwnPropertyNames(listnetwork[0])[i] %> </th>

                    <%}%>									
                </tr>
            </thead>		
            <tbody>
                <% if(listnetwork){%>
                    <% for(i = 0; i < listnetwork.length; i ++) { %>
                    <tr>
                        <td><%- listnetwork[i].network %></td>
                        <% for(j = 1; j < Object.getOwnPropertyNames(listnetwork[i]).length; j ++) { %>

                        <td><%- listnetwork[i][Object.getOwnPropertyNames(listnetwork[i])[j]].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                        <%}%>

                    </tr>
                    <%}%>
                <%}%>			
        </table>
</div>