<div class="col-xs-12 col-md-4 espaco">
    <h4>SUBS PER NETWORK</h4>
    <div class="table-responsive tabela-resultado ">						
        <table  class="table table-striped" id="tbResultado">
            <thead>
                <tr>
                        <th>Network</th>
                        <th>Quarter 01</th>
                        <th>Quarter 02</th>
                        <th>Quarter 03</th>
                </tr>
            </thead>		
            <tbody>
                    <tr>
                        <td>Network</td>
                        <td>123</td>
                        <td>123 2</td>
                        <td>432 3</td>
                    </tr>
        </table>
    </div>																
</div>