<div class="col-xs-12 col-md-4 espaco">
    <h4>SUBS PER </h4>
    <div class="table-responsive tabela-resultado ">						
        <table  class="table table-striped" id="tbResultado">
            <thead>
                <tr>
                        <th>Quarter</th>
                        <th>Kids</th>
                        <th>Movies</th>
                        <th>Documentary</th>
                        <th>Sports</th>
                </tr>
            </thead>		
            <tbody>
                    <tr>
                        <td>Network</td>
                        <td>Quarter 1</td>
                        <td>Quarter 2</td>
                        <td>Quarter 3</td>
                        <td>Quarter 4</td>
                    </tr>
        </table>
    </div>																
</div>