body{	padding-top: 60px;	font-family: 'Ubuntu', sans-serif;}
body {
    padding-top: 60px;
    height: 100%;
    /*background: #000 url('../images//2.png')  no-repeat center center fixed;
    
    background-color:#E0E0E0;*/
    color: #000;
    font-size: 16px;
    font-family: ATTAleckSans_W_Rg;
    font-size: 13px;
    background-size: cover;
}


h1, h2, h3, h4, h5, h6{	text-align: center;} 


table{text-align: justify; font-size: 12px;}
.img-rounded{
    padding: 1rem;

}
.notes{
    font-size: 10px
}
.container{
    margin-left: 10%;
    margin-right: 10%;
}
.navbar-brand{
margin-top: 15px;
margin-left: 15px;
}
.navbar-right{
    padding-top: 15px;
    padding-right: 20px;
}
.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
  }
.content {padding-top: 50px; padding-bottom: 30px;}
.footer {margin-bottom: 0;	padding: 20px;	background: gray; 	text-align: center;	color: white; }
.espaco{padding-top: 40px;}
.espaco2{padding-top: 20px;}
.nav-itens{font-size: 16px;}
.grafico{min-width: 100%; height: 400px; margin: 0 auto;}
.grafico2{min-width: 100%; height: 400px; margin: 0 auto;}
.grafico3{min-width: 100%; height: 400px; margin: 0 auto;}
.tabela-resultado{padding-left: 20px; padding-right: 20px}
.new{padding-bottom: 25px;}
.new2{padding-bottom: 10px;}

#logo{width: auto; height: 100px; padding-top: 20px; padding-bottom: 20px;}
#icone{width: auto; height: 200px;}
#icone-resultado{width: auto; height: 80px;}
#esqueci{color: blue;}
#grafico{position: relative; height: 100%;}
#grafico2{position: relative; height: 100%;}
#grafico3{position: relative; height: 100%;}



.largura{ width: 200px; }

/*#F1C40F amarelo*/

/*
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Reem Kufi', sans-serif;
*/
.table-scroll {
	position:relative;
	max-width:600px;
	margin:auto;
	overflow:hidden;
}
.table-wrap {
	width:100%;
	overflow:auto;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-spacing:0;
}
.table-scroll th, .table-scroll td {
	padding:5px 10px;
	background:#fff;
	white-space:nowrap;
	vertical-align:top;
}
.table-scroll thead, .table-scroll tfoot {
	background:#f9f9f9;
}
.clone {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}
.clone th, .clone td {
	visibility:hidden
}
.clone td, .clone th {
	border-color:transparent
}
.clone tbody th {
	visibility:visible;
}
.clone .fixed-side {
	background:#fff;
	visibility:visible;
}
.clone thead, .clone tfoot{background:transparent;}
