
<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="projeto content">
			<div class="row">

				<% include ../partials/subs1 %>
				<% include ../partials/graph1 %>
				<% include ../partials/subs2 %>
				<% include ../partials/subs3 %>
				
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>