<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row content">

				<% include ../partials/subs1 %>
				<% include ../partials/graph1 %>
				<% include ../partials/subs2 %>
				<% include ../partials/subs3 %>
				<% include ../partials/graph2 %> 
				
		</div>
	</main>

	<footer class="page-footer font-small blue pt-4">
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>