<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row content">
			
					<% include ../partials/plattable %>
					<% include ../partials/graph3 %>
				
		</div>
	</main>

	<footer class="page-footer font-small blue pt-4">
		Source: Anatel (Pay TV) and Dataxis (SVOD, Netflix and Broadband)
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>